apiVersion: v1
kind: Service
metadata:
  name: hello-world-service
spec:
  type: NodePort           # or LoadBalancer in EKS
  selector:
    app: hello-world
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
